@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400|Poiret+One|Raleway|Righteous|Monoton');
$main-color: #d64541;
$main-color-light: #e27c79;
$main-color-dark: #a02622;
$body-font: 'Raleway', sans-serif;
$heading-font: 'Monoton', cursive;
$heading-font2: 'Righteous', sans-serif;