@import 'base-variables';
@import '/usr/lib/node_modules/bootstrap/scss/bootstrap';
* {
    margin: 0;
    padding: 0;

}

html, body {
    font-family: $body-font;
    font-size: 12px;
}

#hero-name {
    float: right;
    position: absolute;
    z-index: 800;
    background-color: #fff;
     top: 20%;
    left: 50%;
     text-align: center;
    transform: translateX(-50%);
        padding: 2%;
      border-style: groove;
    border-color: $main-color-dark;
    border-width: 20px;
    border-radius: 20px;
    box-shadow: 5px 5px 45px #555;
}


#hero-about {
     bottom: 10%;
    right: 3%;
        padding: 2%;
    
}

h1 {
    font-size: 200%;
    font-weight: 200;
    color: $main-color;
    font-family: $heading-font;
}

h3 {
    font-size: 200%;
//    font-family: $heading-font;
    font-family: 'Poiret One';
}

section {
    padding: 80px;
    background-color: rgba(72, 72, 72, 0.17);
}

.container {
    text-align: left;
}

h2 {
    color: $main-color;
    font-family: $heading-font;
   
}


.feature {
    font-family: $heading-font2;
    display: block;
     &:after {
        content: '';
         display: block;
          margin: 1% auto;
        border-bottom: 2px solid $main-color-dark;
    }
}

a {
    color: $main-color;
    transition: all 0.5s;
    &:hover {
        color: $main-color-dark;
    }
}



.section {
	padding: 1%;
    vertical-align: top;
}

.created-date, .updated-date, .pushed-date {
	color: $main-color-light;
    display: block;
}

#maths {
    //background-image: linear-gradient(rgba(0, 0, 0, 0.28),rgba(0, 0, 0, 0.29)), url("../images/maths.jpg");
    background-size: cover;
}

.feature-box {
	background-color: #fff;
    box-shadow: 5px 5px 45px #555;
    width: 30%;
    padding: 5%;
    border-radius: 20px;
}
.project-info-list {
	list-style: none;
    li {
        display: inline-block;
        margin-right: 5%;
        margin-top: 2%;
    }    
}


#projects {
	background-color: rgba(168, 168, 168, 0.06);
}

.carousel-control-prev-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23d64541' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23d64541' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}
#me {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    overflow: hidden;
    object-fit: cover;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.57);
}

.social-cont {
    text-align: center;
    margin-bottom: 5%;
    box-shadow: 2px 2px 20px rgba(173, 173, 173, 0.17);
    border-radius: 5px;
    transition: box-shadow 0.5s;
    &:hover {
        box-shadow: 2px 2px 45px rgba(0, 0, 0, 0.32);
    }
}

.social {
    
    color: $main-color;
}
@include media-breakpoint-up(sm) {
  html,body {
    font-size: 15px;
  }
    h1 {
        font-size: 250%;
    }
}

@include media-breakpoint-up(md) {
  html,body {
    font-size: 18px;
  }
     h1 {
        font-size: 300%;
    }
}

@include media-breakpoint-up(lg) {
  html,body {
    font-size: 22px;
  }
     h1 {
        font-size: 400%;
    }
}
